body {
  padding: 0;
  margin: 0;
}

.image {
  border: none;
  padding: 0;
  margin: 0;
}

.mark-bold {
  color: red;
}

.text-box {
  align-self: flex-start;
}

.fullscreen:hover {
  cursor: pointer; 
}
