body {
  padding: 0;
  margin: 0;
}

.image {
  border: none;
  padding: 0;
  margin: 0;
}

.mark-bold {
  color: red;
}

.text-box {
  height: 100%;
  align-self: flex-start;
}

.fullscreen:hover {
  cursor: pointer; 
}

#relevo-two {
  padding-left: 35px;     
}

.fix-boxdiv {
  position: relative;
  bottom: 5%;
}
